@import url("https://fonts.googleapis.com/css?family=Solway|Hind&display=swap");

* {
  font-family: "Hind", sans-serif;
  color: #333;
  box-sizing: content-box;
}

.App {
  text-align: left;
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}
/* 
@media (min-width: 800px) {
} */

h1 {
  font-family: "Solway", Georgia, serif;
  font-size: 1.5rem;
}

.line {
  position: relative;
}

.field {
  display: inline-block;
  /* vertical-align: text-bottom; */
  font-weight: bold;
  height: 1.8rem;
  border: none;
  padding: 0;
  background: none;
  border-bottom: 2px solid;
  margin: 0rem 0.1rem;
}

input {
  text-align: center;
  width: 2.4rem;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.results {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 1rem;
}

.answer {
  text-align: center;
  font-weight: bold;
  font-family: Solway, Georgia, serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
